<p></p>

<form id="laugh-track">
<textarea id="input"></textarea><br>
<a id="send" href="#">send message</a>
</form>
	
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js')
script(src='/socket.io/socket.io.js')
script(src="/javascripts/laughtrack.js")
script(type='text/javascript')

	LaughTrack.config = {
		form:'#laugh-track',
		input:'#input',
		sendTrigger:'#send',
		host:'http://laugh-track.nodester.com/',
		port:'10721'
	};
	
	LaughTrack.init();
	
	